mvp/data
mvp/C10H22_Decan_Video
mvp/.idea
mvp/Monitoring
mvp/__pycache__
mvp/img
mvp/video
mvp/new_video
mvp/new_data
mvp/test_data
mvp/videos_new
mvp/*.png
mvp/finish/video.mp4
mvp/finish/data.npy
mvp/udp_test/build
mvp/udp_test/udp_test.pro.user
mvp/build-draw_data-Desktop-Debug
mvp/hardware

prod/application/*.mp4
prod/*.mp4
prod/build
prod/Debug
prod/Release
ble_service/build
blscanner
.vscode
*.pdf
hv-bl-andr_as
build-BLETester-Desktop-Debug/
ble/
close
modbus/